.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #9bdc2b, #ece296);
  font-family: sans-serif;
}

.visible-elements {
}

.task-container {
  background-color: beige;

}